body{
    font-family: "Momo Trust Sans", sans-serif;
    background: linear-gradient(180deg,#5297ff,#ffffff);
    color: #111111;
    width: auto;
    margin: 0;
    padding: 0;
}

header{
    padding: 1rem;
    text-align: center;
}

h1{
    font-family: "Momo Trust Display", sans-serif;
    font-size: 36px;
}

main {
    display: flex;
    flex-direction: column; 
    padding: 1rem;
}

section, form {
    background: #fff; 
    padding: 1rem; 
    margin: 15px;
    border-radius: 0.5rem; 
    box-shadow: 0 6px 18px rgba(12,20,40,0.06); 
    flex: 1;
}

form label{ 
    display:block; 
    margin: 8px; 
    font-size: 15px; 
}

form input, form textarea{ 
    width: 95%;
    padding: 0.6rem; 
    margin-top: 0.25rem; 
    font-size: 1rem; 
    border:1px solid #ddd; 
    border-radius: 0.375rem; 
}

select{
    width: 100%;
    font-size: 15px;
    font-family: "Momo Trust Sans", sans-serif;
    text-align: center;
}

#header_kartu, h2{
    font-family: "Momo Trust Display", sans-serif;
}

footer{ 
    height: 50px;
    text-align:center;  
    font-size: 15px;
    background-color: #5297ff;
    color: #ffffff;
    font-weight: 700;
    padding: 1rem;
}

@media (min-width: 768px){
    main{ 
        flex-direction: row; 
        align-items: flex-start;
        justify-content: center;
    }
}